* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/*NAVBAR*/
li {
    list-style: none;
}

.uk-navbar-right .nav-menu .nav-item a {
    text-decoration: none;
}

address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0;
}

.uk-active {
    text-decoration: underline;
}

.uk-logo {
    width: 72px;
}

.uk-logo:hover {
    opacity: .7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.uk-navbar-right {
    padding: 1%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}

#uk-active { 
    color: #FFC857;

}

/*NAVBAR-ITEMS LINE ANIMATION*/
.nav-menu>.nav-item>.nav-link:hover {
	color: #FFC857;
}

/*MAIN IMAGE*/
.uk-overlay h1 {
	padding: 2%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;

}

.uk-overlay h1 span {
	font-size: 4rem;
}

/*MAIN IMAGE-CURSOR*/
h2 {
	font-family: 'Merriweather', serif;
}

#message {
	font-size: 1.2rem;
}

.cursor {
	display: inline-block;
	height: 40px;
	width: 2px;
	background: white;
	vertical-align: middle;
	animation: 1s blink linear infinite;
}

@keyframes blink {
	0%,49% {
		opacity: 0;
	}
	50%,100% {
	  	opacity: 1;
	}
}

/*MAIN IMAGE-BUTTON*/
.uk-button {
	border: 3px solid white;
}

/*CARDS*/
.container-cards {
    padding: 2%;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 2%;
}
  
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 2%;
}
  
.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
    border-radius: 2%;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 2%;
}
  
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details span {
    color: white;
}

.content-details span:hover {
    background-color: #FFC857;
    border-radius: 100%;
}

.content-details h3{
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
  
.content-details p{
    color: #fff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
}
  
.fadeIn-bottom{
    top: 80%;
}

/*ABOUT-CARD*/
.container-about {
    padding: 2%;
}

div.card-about {
    margin: 0;
    padding: 2% 15%;
    border-radius: 2%;
}

.uk-card-title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.about-photo {
    border-radius: 2%;
}

/*CONTACT-CONTAINER*/
.container-contact {
    position: relative;
}

.blurred-contact {
    height: 100vh;
    background-image: url(../img/top-view-of-chat-bubbles-with-telephone-receiver-and-copy-space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition-duration: 500ms;   
}

.blurred-contact:hover {
    filter: grayscale(0%);
    transition-duration: 500ms;
}

/*CONTACT-CARD*/
div.card-contact {
    border-radius: 2%;
    position: absolute;
}

h3.contact-title {
    text-align: center;
}

div.contact-body {
    text-align: center;
}

.contact-icon:hover {
    color: #FFC857;
}

/*PORTFOLIO-EDEMSA*/
.edemsa-title {
    padding: 1%;
}

.text-edemsa {
    color: #44c7f4;
    font-weight: bold;
}

.card-title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.container-porffolio-header {
    position: absolute;
    left: 50%;
    right: 50%;  
}

.user-journey {
    padding: 2%;
    margin-top: 2%;
}

.user-journey h2, h4 {
    margin-left: 5%;
    margin-top: 0;
}

.user-journey ul, li {
    margin-left: 3%;
}

.column-display {
    margin-top: 3%;
}

.image-example {
    padding: 5%;
}

.list-contained {
    margin-top: 2%;
}

.data-result {
    font-size: 4rem;
}

.to-top-edemsa {
    margin: 1%;
    padding: 2%;
    background-color: black;
    border-radius: 50%;
}

.to-top-edemsa:hover {
    background-color: #44c7f4;
}

/*PORTFOLIO-JUEGO LIBRE*/
.text-juegolibre {
    color: #009d32;
    font-weight: bold;
}

.to-top-juegolibre {
    margin: 1%;
    padding: 2%;
    background-color: black;
    border-radius: 50%;
}

.to-top-juegolibre:hover {
    background-color: #009d32;
}

.main-idea {
    padding: 2%;
}

/*PORTFOLIO - MANSA CAVA*/
.text-mansacava {
    color: black;
    font-weight: bold;
}

/*MEDIA QUERIES*/
    /*****XLARGE - min-width:1200px*****/
@media (min-width:1200px) {
    /*CARD*/
    .card-commentary {
        font-size: 0.9rem;
    }

    /*EDEMSA-USER JOURNEY*/
    .user-journey {
        padding: 2%;
    }
}
    /*****LARGE - between 960px and 1199 px*****/
@media (min-width: 960px) and (max-width: 1199px) {
    /*CARD*/
    #card-overlay {
        padding: 1.2rem;
    }

    .card-commentary {
        font-size: 0.7rem;
    }

    /*EDEMSA-USER JOURNEY*/
    .user-journey {
        padding: 2%;
    }
}
	/*****MEDIUM - between 641px and 959px*****/
@media (min-width: 641px) and (max-width: 959px) {
    /*NAV*/
    .uk-logo {
        height: 2rem;
    }

    .nav-link {
        font-size: 1rem;
    }
    
    /*CARD*/
    .card-commentary {
        font-size: 0.7rem;
    }

}
	/*****SMALL - between px and 640px*****/
@media only screen and (max-width: 640px) {
    /*NAV*/
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 12rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: auto;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /*MAIN IMAGE*/
    .uk-overlay h1 {
        font-size: 1.5rem;
    }

    .uk-overlay h1 span {
        font-size: 2.5rem;
    }

    .uk-overlay h2 {
        font-family: 'Merriweather', serif;
        font-size: 1.2rem;
    }
    
    #message {
        font-size: 0.8rem;
    
    }

    .uk-button {
        font-size: 0.6rem;
    }

    /*CARDS*/
    .content {
        max-width: 300px;
    }

}
	/*****XSMALL - less than 576px*****/
@media (max-width: 576px) {

    /*NAV*/


    /*MAIN IMAGE AND SIZE FONT*/
    #hello {
        font-size: 0.7rem;
    }

    #whatido {
        font-size: 0.5rem;
    }

    #message {
        font-size: 0.4rem;
    }

    .cursor {
        height: 15px;
    }

    #readmore {
        font-size: 0.5rem;
    }

    .uk-button {
        padding: 0 10px;
    }

    /*CARDS*/
    .content {
        max-width: 250px;
    }

    /*ABOUT*/
    div.card-about {
        padding: 0;
    }

    /*PORTFOLIO-EDEMSA*/
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.8rem;
    }

    figure {
        display: none;
    }

    /*.uk-column-1-4 {
        column-count: 1;
    }*/

    #card {
        margin: auto;
    }





}